<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToHome()" fill="clear" color="primary" size="small">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Próximamente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Proximamente</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Agregar la imagen de mantenimiento -->
  <div class="image-container">
    <img src="assets/mantenimiento-logo.png" alt="Logotipo de mantenimiento" class="center-image">
  </div>
</ion-content>
