<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToHome()" fill="clear" color="primary" size="small">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Empezar a Comprar</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="primary" size="small">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Empezar a comprar</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-sm="3">
        <img src="assets/imagen1.jpeg" alt="Pan de Campo" style="width: 100%; max-width: 200px;">
        <p style="font-size: 0.8em;">Pan de Campo 700 grs. Pan de miga cremosa y robusta...</p>
        <p style="font-size: 0.8em;">$3.500</p>
        <ion-button color="primary" size="small">
          <ion-icon name="cart" style="font-size: 0.8em;"></ion-icon>
          Añadir al carro
        </ion-button>
      </ion-col>

      <ion-col size="6" size-sm="3">
        <img src="assets/imagen2.jpeg" alt="Pan de Aceituna" style="width: 100%; max-width: 200px;">
        <p style="font-size: 0.8em;">Pan de Aceituna 700 grs. Es un pan de origen mediterráneo...</p>
        <p style="font-size: 0.8em;">$3.500</p>
        <ion-button color="primary" size="small">
          <ion-icon name="cart" style="font-size: 0.8em;"></ion-icon>
          Añadir al carro
        </ion-button>
      </ion-col>

      <ion-col size="6" size-sm="3">
        <img src="assets/imagen3.jpeg" alt="Baguette" style="width: 100%; max-width: 200px;">
        <p style="font-size: 0.8em;">Baguette. De corteza crujiente...</p>
        <p style="font-size: 0.8em;">$2.100</p>
        <ion-button color="primary" size="small">
          <ion-icon name="cart" style="font-size: 0.8em;"></ion-icon>
          Añadir al carro
        </ion-button>
      </ion-col>

      <ion-col size="6" size-sm="3">
        <img src="assets/imagen4.jpeg" alt="Batard" style="width: 100%; max-width: 200px;">
        <p style="font-size: 0.8em;">Batard. Compuesto solo por harina panadera...</p>
        <p style="font-size: 0.8em;">$2.600</p>
        <ion-button color="primary" size="small">
          <ion-icon name="cart" style="font-size: 0.8em;"></ion-icon>
          Añadir al carro
        </ion-button>
      </ion-col>

      <ion-col size="6" size-sm="3">
        <img src="assets/imagen7.jpg" alt="Pan duro" style="width: 100%; max-width: 200px;">
        <p style="font-size: 0.8em;">Pan duro de exportacion producto nacional</p>
        <p style="font-size: 0.8em;">$2.500</p>
        <ion-button color="primary" size="small">
          <ion-icon name="cart" style="font-size: 0.8em;"></ion-icon>
          Añadir al carro
        </ion-button>
      </ion-col>

      <ion-col size="6" size-sm="3">
        <img src="assets/imagen8.jpg" alt="Pan mordido" style="width: 100%; max-width: 200px;">
        <p style="font-size: 0.8em;">Pan mordido ultimas unidades</p>
        <p style="font-size: 0.8em;">$7.500</p>
        <ion-button color="primary" size="small">
          <ion-icon name="cart" style="font-size: 0.8em;"></ion-icon>
          Añadir al carro
        </ion-button>
      </ion-col>

      <ion-col size="6" size-sm="3">
        <img src="assets/imagen9.jpg" alt="Pan especial" style="width: 100%; max-width: 200px;">
        <p style="font-size: 0.8em;">Pan especial con pies, manos y cara</p>
        <p style="font-size: 0.8em;">$2.200</p>
        <ion-button color="primary" size="small">
          <ion-icon name="cart" style="font-size: 0.8em;"></ion-icon>
          Añadir al carro
        </ion-button>
      </ion-col>

      <ion-col size="6" size-sm="3">
        <img src="assets/imagen10.jpg" alt="Pan amasado" style="width: 100%; max-width: 200px;">
        <p style="font-size: 0.8em;">pan amasado muy buenos</p>
        <p style="font-size: 0.8em;">$250 c/u</p>
        <ion-button color="primary" size="small">
          <ion-icon name="cart" style="font-size: 0.8em;"></ion-icon>
          Añadir al carro
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
