/* Agrega tus reglas CSS existentes aquí */

.content-grid {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
ion-fab {
  position: fixed;
  bottom: 0;
  margin-bottom: 100px; /* Ajusta este valor según sea necesario para evitar superposiciones */
  z-index: 999; /* Ajusta el z-index según sea necesario */
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  flex-grow: 1;
}

.custom-box {
  padding: 1rem;
}

.toolbar-container {
  background-color: white;
}

/* Puedes seguir agregando más reglas CSS si es necesario */
